@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap');

.menuItem{
    font-size: 16px;
    font-family: 'Poppins'; /* Use Poppins font here */
    color: #545455;
}
.menuItem:hover{
    color:#07AF56;
}

.btn{
    font-size: 16px;
    font-family: 'Poppins'; /* Use Poppins font here */
    border-color: #07AF56;
    color: #07AF56;
}

.btn:hover{
    background-color:#07AF56;
    color: white;
    
}
.icon{
    font-size: 16px;
    font-family: 'Poppins'; /* Use Poppins font here */
    color: #545455cb;
}
.icon:hover{
    color: #545455;
}